@import url('../src/view/components/Garage/CarBlock/CarBlock.css');
@import url('../src/view/components/Garage/Form/Form.css');
@import url('../src/view/components/Garage/GarageCounter/GarageCount.css');
@import url('../src/view/components/Garage/GaragePagination/PagesGarage.css');


body {
    margin: 0;
    padding: 0;
    background-color: rgb(206, 212, 212);
    color: #000;
    font-family: 'Sedgwick Ave', cursive;
    font-family: 'VT323', monospace;
    letter-spacing: 1px;
}

#wrapper {
    padding: 0 20px 0 10px;
    display: flex;
    flex-direction: column;
}

/* Buttons */

button {
    font-family: 'VT323', monospace;
}

button:disabled, button:disabled:hover {
    background-color: #bbb5b5;
    cursor:initial
}

button:hover {
  background-color: #918f2b;
}