body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #434343 0%, rgb(38, 33, 33) 100%);
    color: #FFF;

}

.garage__car {
    height: 170px;
    position: relative;
}

.car__racer {
    position: relative;
}

.car__racer svg.animated {
    position: absolute;
    -webkit-animation: linear;
    -webkit-animation-name: drive;
   animation-fill-mode: forwards;
}

.car__racer svg.paused{
        -webkit-animation-play-state:paused;
        -moz-animation-play-state:paused;
        -o-animation-play-state:paused;
        animation-play-state:paused;
    }


@-webkit-keyframes drive {
    0% {
      left: 0;
    }
    100% {
      left: 85vw;
    }
  }

.winners {
    width: 80vw;
}

.winners__heading {
    display: flex;
    justify-content: space-between;
}

.winners__table__car {
    display: flex;
    justify-content: space-between;
}

.winners__table__car__info {
    display: flex;
    width: 65vw;
    justify-content: space-between;
}

.winners__table__car__image {
    align-content: flex-end;
}

button {

}










